{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
      "react"
  ],
  "rules": {
    "comma-dangle": [1, "never"],
    "key-spacing": [0, {
      "beforeColon": true,
      "afterColon": true
    }],
    "padded-blocks": 0,
    "no-else-return": 0,
    "space-before-function-paren": [0, "always"],
    "react/jsx-quotes": [0, "single"],
    "max-len": [2, 100, 2, {
      "ignoreComments": true,
      "ignoreUrls": true,
      "ignorePattern": "^const [A-Z\\_]+\\s?="
    }],
    "no-console":0
  }
}
