@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/react-styleguide/dist/main";

@import "./partials/utils";
@import "./partials/colors";
@import "./partials/constants";

@import "./components/header";
@import "./components/Overview";
@import "./components/overview-tabs";
@import "./components/variance";
@import "./components/dashboard-col";
@import "./components/dashboard-row";
@import "./components/variance";
@import "./components/list-menu";
@import "./components/dashboard-col";
@import "./components/dashboard-row";
@import "./components/dashboard-layout";
@import "./components/ProjectSummary";
@import "./components/toggable-header";

@import './components/core-layout.scss';


.Styleguide-components{
  font-size: 100%;
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

.Styleguide-header {
	h1 {
		font-size: 1.5em;
	}
}

.Styleguide-sidebar-list {
	margin: 0;
}

.styleguide-helper {
	width: 100%;
	padding: 1em 0;
	background-color: #efefef;
}

.Styleguide-components-component-example{
  overflow: hidden;
}

.temp-helper {
	background: #efefef;
  padding: 1em 0;
}
